/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/

// Fonts
$font-family_1: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-family_2: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

// Colors
$darkGrey: #222;
$darkBrown: #7C593C;
$darkBlue: #3a5E63;
$lightGrey: #d4d4d4;
$lightBlue: #C7F7FF;
$white: #fff;
$medBlue: #89C0C9;
$lightBrown: #C9A689;